PORT=3001
DEBUG=True
SECRET_KEY=una-clave-larga-cualquiera-para-desarrollo

DB_HOST=postgres
DB_PORT=5432
DB_NAME=hotel-desarrollodeservicios
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET_KEY=holamundoennode

ADMIN_EMAIL=admin@hotel.com
ADMIN_PASSWORD=admin123
